fn main() {
    println!("cargo:rustc-link-search=native=${SERVO_ROBOT_BOARD_WS}/build/servo_robot_board_interface");
    println!("cargo:rustc-link-search=native=${ROS2_RUST_WS}/build/builtin_interfaces");
    println!("cargo:rustc-link-search=native=${ROS2_RUST_WS}/build/std_msgs");
    println!("cargo:rustc-link-search=native=${ROS2_RUST_WS}/build/geometry_msgs");
    println!("cargo:rustc-link-search=native=${ROS2_RUST_WS}/build/sensor_msgs");
    println!("cargo:rustc-link-search=native=/opt/ros/humble/lib");
}
